.purple {
  background-color: #8e6e95;
  width: 100%;
  display: flex;
  justify-content: center;
}

.teal {
  background-color: #39a59c;
  width: 100%;
  display: flex;
  justify-content: center;
}

.gray {
  background-color: #344759;
  width: 100%;
  display: flex;
  justify-content: center;
}

.orange {
  background-color: #e8741e;
  width: 100%;
  display: flex;
  justify-content: center;
}
